/* Write your CSS here */
.thumbnail{
    height: 150px;
    width: 220px;
    border-radius: 7px;
    cursor: pointer;
}
@media (min-width: 1200px){
    .thumbnail{
        height: 170px;
        width: 250px;
    }
}
.popup-content{
    background-color: white;
    width: 750px;
    height: 400px;
    border-radius: 15px;
}
.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.close-button{
    background-color: transparent;
    align-self: flex-end;
    height: 30px;
    width: 30px;
    border: none;
    margin-top: 18px;
    margin-right: 18px;
    outline: none;
    cursor: pointer;
}
.movie-player-container{
    margin-top: 12px;
    margin-left: 46px;
    margin-bottom: 46px;
    margin-right: 48px;
}